body{
    margin: 1rem auto;
    width:97%;
    overflow-x: hidden;
}
img{
    border-radius: 5px;
}
.posterImage{
    position: relative;
    width: 98%;
    margin: auto;
    height: 600px;
}
.posterImage>img{
    display: block;
    width: 100%;
    object-fit:fill
}

.posterImage_overlay{
    position: absolute;
    z-index: 10;
    top: 36%;
    left: 5%;
    width: 45%;
    text-align: left;
}
.posterImage_title{
    font-size: 3rem;
    font-weight:900;
    margin-bottom: 1rem;
    line-height: 3.6rem;
   
}
.posterImage_runtime{
    display: flex;
    gap: 2rem;
    margin-bottom: 1rem;
    font-style: italic;
}
.posterImage_runtime,.posterImage_rating{
    font-size: 1.3rem;
}
.posterImage_description{
    font-style: italic;
    font-size: 1rem;
 }
